name: Build Documentation

on:
  push:
  pull_request:
    types: [opened, synchronize, reopened]

# Cancel CI workflows which are still running from previous pushes
concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  build_documentation:
    name: Build Documentation
    runs-on: ubuntu-latest
    steps:
      - name: Update environment
        run: |
          sudo apt update -qq
          sudo apt install -y cmake doxygen git python3 python3-pip python3-venv wget zip

      - name: Checkout
        uses: actions/checkout@v6

      - name: Set build version
        uses: ./.github/actions/set-build-version

      - name: Load CMake Cache
        id: cache-cmake
        uses: ./.github/actions/cmake-cache
        with:
          path: documentation/build
          key: documentation

      - name: Configure CMake
        working-directory: documentation
        run: |
          cmake . -Bbuild

      - name: Build
        working-directory: documentation
        run: |
          cmake --build build

      - name: Linkcheck
        working-directory: documentation
        # TODO: return true as long GitHub does not allow specific steps to fail
        run: |
          cmake --build build --target inexor-vulkan-renderer-documentation-linkcheck || true

      - name: Prepare artifacts
        working-directory: documentation
        run: |
          ZIP_NAME=nightly-documentation_${{ env.BUILD_VERSION }}.zip
          zip -r "$ZIP_NAME" build/html

      - name: Upload Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: nightly-documentation-${{ env.BUILD_VERSION }}
          path: documentation/nightly-documentation-${{ env.BUILD_VERSION }}.zip
          retention-days: 60
