name: Build Code

on:
  push:
  pull_request:
    types: [opened, synchronize, reopened]

env:
  INEXOR_VULKAN_SDK_VERSION: "1.3.283.0"
  INEXOR_VULKAN_SDK_PATH: "${{ github.workspace }}/vulkan_sdk"

# Cancel CI workflows which are still running from previous pushes
concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  linux:
    name: ${{ matrix.config.name }}
    runs-on: ubuntu-latest
    env:
      INEXOR_VULKAN_SDK_CHECKSUM: "8005e2cf3e89c80cbe1c0d0a259c88248de3257b4fc6fdefb47409edb3e43ecb"
    strategy:
      fail-fast: false
      matrix:
        config:
          - name: "Ubuntu Clang (Debug)"
            cmake_preset: "linux-clang-debug"
            artifacts_id: "clang_debug"
          - name: "Ubuntu Clang (Release)"
            cmake_preset: "linux-clang-release"
            artifacts_id: "clang_release"
          - name: "Ubuntu GCC (Debug)"
            cmake_preset: "linux-gcc-debug"
            artifacts_id: "gcc_debug"
          - name: "Ubuntu GCC (Release)"
            cmake_preset: "linux-gcc-release"
            artifacts_id: "gcc_release"

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Setup System
        uses: ./.github/actions/setup-linux
        with:
          vulkan-sdk-version: ${{ env.INEXOR_VULKAN_SDK_VERSION }}
          vulkan-sdk-checksum: ${{ env.INEXOR_VULKAN_SDK_CHECKSUM }}
          vulkan-sdk-path: ${{ env.INEXOR_VULKAN_SDK_PATH }}

      - name: Set build version
        uses: ./.github/actions/set-build-version

      - name: Load CMake Cache
        id: cache-cmake
        uses: ./.github/actions/cmake-cache
        with:
          key: ${{ matrix.config.cmake_preset }}

      - name: Configure CMake
        if: steps.cache-cmake.outputs.cache-hit != 'true'
        run: |
          cmake . --preset ${{ matrix.config.cmake_preset }} -Bbuild

      - name: Build Core
        run: cmake --build build --target inexor-vulkan-renderer-core-lib --parallel

      - name: Build Example
        run: cmake --build build --target inexor-vulkan-renderer-example --parallel

      - name: Build Tests
        run: cmake --build build --target inexor-vulkan-renderer-tests --parallel

      - name: Build Benchmarks
        run: cmake --build build --target inexor-vulkan-renderer-benchmarks --parallel

      - name: Run Tests
        working-directory: build
        run: |
          # Run all Google Test executables
          for test_exec in $(find . -type f -executable -name '*-tests'); do
            echo "Running $test_exec"
            $test_exec --gtest_output=xml:"$test_exec.xml"
          done

      - name: Run Benchmarks
        working-directory: build
        run: |
          mkdir -p benchmark
          find . -type f -executable -name '*-benchmarks' | while read -r bench_exec; do
            echo "Running $bench_exec"
            # Log stdout and stderr to console AND file
            "$bench_exec" 2>&1 | tee "benchmark/$(basename "$bench_exec").txt"
          done

      - name: Prepare Nightly Artifacts
        run: |
          mkdir -p artifacts
          cp ./build/example/inexor-vulkan-renderer-example artifacts/
          mkdir -p artifacts/tests
          find ./build -maxdepth 1 -type f -name '*-tests' -exec cp {} artifacts/tests/ \;
          find ./build -maxdepth 1 -type f -name '*.xml' -exec cp {} artifacts/tests/ \;
          mkdir -p artifacts/benchmarks
          find ./build -maxdepth 1 -type f -name '*-benchmarks' -exec cp {} artifacts/benchmarks/ \;
          mkdir -p artifacts/benchmarks/benchmark
          find ./build/benchmark -maxdepth 1 -type f -name '*.txt' -exec cp {} artifacts/benchmarks/benchmark/ \;
          cp -r ./assets/ artifacts/
          mkdir -p artifacts/shaders
          cp ./shaders/*.spv artifacts/shaders/
          cd artifacts
          tar -zcvf "../nightly-linux_${{ matrix.config.artifacts_id }}-${{ env.BUILD_VERSION }}.tar.xz" *

      - name: Upload Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: nightly-linux_${{ matrix.config.artifacts_id }}-${{ env.BUILD_VERSION }}
          path: nightly-linux_${{ matrix.config.artifacts_id }}-${{ env.BUILD_VERSION }}.tar.xz
          retention-days: 60

  windows:
    name: ${{ matrix.config.name }}
    runs-on: windows-latest
    env:
      INEXOR_VULKAN_SDK_CHECKSUM: "811fcb9b43d09248520b2f38ae9a3763fc81df950fdab874f23bd762b07a9b12"
    strategy:
      fail-fast: false
      matrix:
        config:
          - name: "Windows MSVC (Debug)"
            cmake_preset: "windows-msvc"
            extra_cmake_args: "--config Debug"
            artifacts_id: "msvc_debug"
          - name: "Windows MSVC (Release)"
            cmake_preset: "windows-msvc"
            extra_cmake_args: "--config Release"
            artifacts_id: "msvc_release"
          - name: "Windows Clang (Debug)"
            cmake_presett: "windows-clang-debug"
            artifacts_id: "clang_debug"
          - name: "Windows Clang (Release)"
            cmake_preset: "windows-clang-release"
            artifacts_id: "clang_release"

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Setup System
        uses: ./.github/actions/setup-windows
        with:
          vulkan-sdk-version: ${{ env.INEXOR_VULKAN_SDK_VERSION }}
          vulkan-sdk-checksum: ${{ env.INEXOR_VULKAN_SDK_CHECKSUM }}
          vulkan-sdk-path: ${{ env.INEXOR_VULKAN_SDK_PATH }}

      - name: Set build version
        uses: ./.github/actions/set-build-version

      - name: Load CMake Cache
        id: cache-cmake
        uses: ./.github/actions/cmake-cache
        with:
          key: ${{ matrix.config.cmake_preset }}

      - name: Configure CMake
        if: steps.cache-cmake.outputs.cache-hit != 'true'
        run: |
          cmake . --preset ${{ matrix.config.cmake_preset }} -Bbuild

      - name: Build Core
        run: cmake --build build --target inexor-vulkan-renderer-core-lib --parallel ${{ matrix.config.extra_cmake_args }}

      - name: Build Example
        run: cmake --build build --target inexor-vulkan-renderer-example --parallel ${{ matrix.config.extra_cmake_args }}

      - name: Build Tests
        run: cmake --build build --target inexor-vulkan-renderer-tests --parallel ${{ matrix.config.extra_cmake_args }}

      - name: Build Benchmarks
        run: cmake --build build --target inexor-vulkan-renderer-benchmarks --parallel ${{ matrix.config.extra_cmake_args }}

      - name: Run Tests
        working-directory: build
        run: |
          # Run all Google Test executables
          Get-ChildItem -Recurse -Filter '*-tests.exe' | ForEach-Object {
            Write-Host "Running $($_.FullName)"
            & $_.FullName --gtest_output=xml:"$($_.FullName).xml"
          }

      - name: Run Benchmarks
        working-directory: build
        run: |
          if (Test-Path benchmark) { Remove-Item benchmark -Recurse -Force }
          mkdir benchmark
          Get-ChildItem -Recurse -Filter '*-benchmarks.exe' | ForEach-Object {
            $benchPath = $_.FullName
            $outputFile = Join-Path -Path "benchmark" -ChildPath "$($_.BaseName).txt"
            Write-Host "Running $benchPath"
            # Run the benchmark, log both stdout and stderr to console AND file
            & $benchPath 2>&1 | Tee-Object -FilePath $outputFile
          }

      - name: Prepare Nightly Artifacts
        shell: pwsh
        run: |
          mkdir artifacts
          # Copy main executable
          Get-ChildItem -Path ./build -Recurse -Filter "inexor-vulkan-renderer-example.exe" | ForEach-Object {
            Copy-Item -Path $_.FullName -Destination artifacts
          }
          # Copy test executables and results
          Get-ChildItem -Path ./build -Recurse -Filter "*-tests.exe" | ForEach-Object {
            Copy-Item -Path $_.FullName -Destination artifacts
          }
          Get-ChildItem -Path ./build -Filter "*.xml" | ForEach-Object {
            Copy-Item -Path $_.FullName -Destination artifacts
          }
          # Copy benchmark executables and results
          Get-ChildItem -Path ./build -Recurse -Filter "*-benchmarks.exe" | ForEach-Object {
            Copy-Item -Path $_.FullName -Destination artifacts
          }
          mkdir artifacts/benchmark
          Get-ChildItem -Path ./build/benchmark -Filter "*.txt" | ForEach-Object {
            Copy-Item -Path $_.FullName -Destination artifacts/benchmark
          }
          # Copy configuration, assets, and shaders
          Copy-Item -Path ./assets/. -Destination artifacts -Recurse
          mkdir artifacts/shaders
          Copy-Item -Path ./shaders/*.spv -Destination artifacts/shaders
          # Create nightly archive
          7z a -tzip "nightly-windows_${{ matrix.config.artifacts_id }}-${{ env.BUILD_VERSION}}.zip" ./artifacts/*

      - name: Upload Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: nightly-windows_${{ matrix.config.artifacts_id }}-${{ env.BUILD_VERSION}}
          path: nightly-windows_${{ matrix.config.artifacts_id }}-${{ env.BUILD_VERSION}}.zip
          retention-days: 60
