name: Code Style

on: [workflow_call]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  clang-format:
    name: Clang Format
    runs-on: ubuntu-latest
    container: ubuntu:rolling
    steps:
      - name: Install tools
        shell: bash
        run: |
          apt update -qq
          apt install -y \
            clang-format \
            git

      - name: Checkout
        uses: actions/checkout@v6
        
      - name: Fetch ${{ github.base_ref }}
        shell: bash
        run: |
          git fetch --no-tags --prune --depth=1 origin ${{ github.base_ref }}:${{ github.base_ref }}
          git log --pretty=oneline

      - name: Format code
        shell: bash
        run: |
          git-clang-format ${{ github.base_ref }}
          git diff | tee format-diff
          if [ -s format-diff ]; then exit 1; fi
