name: Documentation

on:
  workflow_call:
    inputs:
      vulkan-sdk-version:
        type: string
        required: true
      vulkan-sdk-checksum:
        type: string
        required: true

jobs:
  build_documentation:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup system
        uses: ./.github/actions/setup-linux
        with:
          vulkan-sdk-version: ${{ inputs.vulkan-sdk-version }}
          vulkan-sdk-checksum: ${{ inputs.vulkan-sdk-checksum }}

      - name: Load CMake cache
        id: cache-cmake
        uses: ./.github/actions/cmake-cache
        with:
          key: documentation

      - name: Configure CMake
        if: steps.cache-cmake.outputs.cache-hit != 'true'
        run: |
          cmake . --preset documentation -Bbuild

      - name: Build documentation
        run: |
          cmake --build build --target inexor-vulkan-renderer-documentation

      - name: Linkcheck
        # TODO: return true as long GitHub does not allow specific steps to fail
        run: |
          cmake --build build --target inexor-vulkan-renderer-documentation-linkcheck || true

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: documentation
          path: build/documentation/html
          retention-days: 14
