name: Nightly Release

on: [workflow_call]

jobs:
  nightly-release:
    name: Nightly Release
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Download core builds
        uses: actions/download-artifact@v7
        with:
          path: archives/core
          pattern: '*-core-*'
          merge-multiple: false

      - name: Download example builds
        uses: actions/download-artifact@v7
        with:
          path: archives/example
          pattern: '*-example-*'
          merge-multiple: false

      - name: Download documentation
        uses: actions/download-artifact@v7
        with:
          path: archives/docs
          pattern: 'documentation'
          merge-multiple: false

      - name: Create git tag
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git tag nightly
          git push -f origin tag nightly

      - name: Create or update nightly release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NOTES: |
            Latest development release, continuously updated.
        run: |
          output=$(gh release delete nightly -y 2>&1) || [[ "${output}" == "release not found" ]]
          gh release create nightly \
            ./archives/*.zip \
            --title "Nightly Release" \
            --notes "${{ env.NOTES }}" \
            --prerelease \
            --target ${{ github.sha }}
