name: Release

on: [workflow_call, workflow_dispatch]

jobs:
  nightly-release:
    name: Nightly
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Download core builds
        uses: actions/download-artifact@v7
        with:
          path: archives
          pattern: "*-core-*"
          merge-multiple: true

      - name: Download example builds
        uses: actions/download-artifact@v7
        with:
          path: archives
          pattern: "*-example-*"
          merge-multiple: true

      - name: Download documentation
        uses: actions/download-artifact@v7
        with:
          path: archives/documentation
          pattern: "documentation"
          merge-multiple: true

      - name: Create git tag
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git tag nightly
          git push -f origin tag nightly

      - name: Prepare archives for release
        run: |
          ls -la archives
          find archives/ -type f -print0 | xargs -0 mv -t archives

      # wait 5s that the pushed tag is available in the next step, sometimes the next step saw only the local tag
      - name: Wait 5s
        run: sleep 5s
        shell: bash

      - name: Create or update nightly release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NOTES: |
            Latest development release, continuously updated.
        run: |
          output=$(gh release delete nightly -y 2>&1) || [[ "${output}" == "release not found" ]]
          gh release create nightly \
            ./archives/* \
            --title "Nightly Release" \
            --notes "${{ env.NOTES }}" \
            --prerelease \
            --target ${{ github.sha }}
