name: Release

on: [workflow_call, workflow_dispatch]

jobs:
  nightly-release:
    name: Nightly
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Download example builds
        uses: actions/download-artifact@v7
        with:
          pattern: "*-example-*"
          path: archives

      - name: Download documentation
        uses: actions/download-artifact@v7
        with:
          name: "documentation"
          path: archives/documentation

      - name: Prepare archives for release
        working-directory: archives
        run: |
          for dir in *-example-*; do
            if [[ -d "$dir" ]]; then
              cd "$dir"
              zip -r "../${dir}.zip" ./*
              cd ..
            fi
          done

          if [[ -d documentation ]]; then
            cd documentation
            zip -r ../documentation.zip ./*
            cd ..
          fi

      - name: Create git tag
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git tag nightly
          git push -f origin tag nightly

      # wait 5s that the pushed tag is available in the next step, sometimes the next step saw only the local tag
      - name: Wait 5s
        run: sleep 5s
        shell: bash

      - name: Create or update nightly release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NOTES: |
            Latest development release, continuously updated.
        run: |
          output=$(gh release delete nightly -y 2>&1) || [[ "${output}" == "release not found" ]]
          gh release create nightly \
            ./archives/*.zip \
            --title "Nightly Release" \
            --notes "${{ env.NOTES }}" \
            --prerelease \
            --target ${{ github.sha }}
