name: GHA
on: [push, pull_request, merge_group, workflow_dispatch]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  code-style:
    name: Code Style
    uses: ./.github/workflows/code_style.yml

  linux-build:
    name: Linux
    uses: ./.github/workflows/linux_builds.yml
    with:
      vulkan-sdk-version: "1.3.283.0"
      vulkan-sdk-checksum: "8005e2cf3e89c80cbe1c0d0a259c88248de3257b4fc6fdefb47409edb3e43ecb"

  windows-build:
    name: Windows
    uses: ./.github/workflows/windows_builds.yml
    with:
      vulkan-sdk-version: "1.3.283.0"
      vulkan-sdk-checksum: "811fcb9b43d09248520b2f38ae9a3763fc81df950fdab874f23bd762b07a9b12"

  documentation:
    name: Documentation
    uses: ./.github/workflows/documentation.yml
    with:
      vulkan-sdk-version: "1.3.283.0"
      vulkan-sdk-checksum: "8005e2cf3e89c80cbe1c0d0a259c88248de3257b4fc6fdefb47409edb3e43ecb"

  static-analysis:
    name: Static Analysis
    needs:
      - linux-build
      - windows-build
    uses: ./.github/workflows/static_analysis.yml
    with:
      vulkan-sdk-version: "1.3.283.0"
      vulkan-sdk-checksum-linux: "8005e2cf3e89c80cbe1c0d0a259c88248de3257b4fc6fdefb47409edb3e43ecb"
      vulkan-sdk-checksum-windows: "811fcb9b43d09248520b2f38ae9a3763fc81df950fdab874f23bd762b07a9b12"

  release:
    name: Release
    needs:
      - linux-build
      - windows-build
      - documentation
    uses: ./.github/workflows/release.yml
