name: GHA
on: [push, pull_request, merge_group, workflow_dispatch]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

env:
  INEXOR_VULKAN_SDK_VERSION: "1.3.283.0"
  INEXOR_VULKAN_SDK_CHECKSUM_LINUX: "8005e2cf3e89c80cbe1c0d0a259c88248de3257b4fc6fdefb47409edb3e43ecb"
  INEXOR_VULKAN_SDK_CHECKSUM_WINDOWS: "811fcb9b43d09248520b2f38ae9a3763fc81df950fdab874f23bd762b07a9b12"

jobs:
  linux-build:
    name: Linux
    uses: ./.github/workflows/linux_builds.yml
    with:
      vulkan-sdk-version: ${{ env.INEXOR_VULKAN_SDK_VERSION }}
      vulkan-sdk-checksum: ${{ env.INEXOR_VULKAN_SDK_CHECKSUM_LINUX }}

  windows-build:
    name: Windows
    uses: ./.github/workflows/windows_builds.yml
    with:
      vulkan-sdk-version: ${{ env.INEXOR_VULKAN_SDK_VERSION }}
      vulkan-sdk-checksum: ${{ env.INEXOR_VULKAN_SDK_CHECKSUM_WINDOWS }}

  documentation:
    name: Documentation
    uses: ./.github/workflows/documentation.yml
    with:
      vulkan-sdk-version: ${{ env.INEXOR_VULKAN_SDK_VERSION }}
      vulkan-sdk-checksum: ${{ env.INEXOR_VULKAN_SDK_CHECKSUM_LINUX }}

  static-analysis:
    name: Static Analysis
    needs:
      - linux-build
      - windows-build
    uses: ./.github/workflows/static_analysis.yml
    with:
      vulkan-sdk-version: ${{ env.INEXOR_VULKAN_SDK_VERSION }}
      vulkan-sdk-checksum-linux: ${{ env.INEXOR_VULKAN_SDK_CHECKSUM_LINUX }}
      vulkan-sdk-checksum-windows: ${{ env.INEXOR_VULKAN_SDK_CHECKSUM_WINDOWS }}

  nightly-release:
    name: Nightly Release
    needs:
      - linux-build
      - windows-build
      - documentation
      - static-analysis
    uses: ./.github/workflows/nightly-release.yml
